* {
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.0);
}

tooltip {
  background: rgba(0, 0, 0, 0.3);
  border: 1px rgba(0, 0, 0, 0.2) solid;
}

tooltip label {
  color: white;
}

#workspaces {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px rgba(0, 0, 0, 0.2) solid;
}

#workspaces button {
  padding: 0 4px;
  background: transparent;
  color: white;
  border: none;
}

#workspaces button.focused {
  background: transparent;
  border-top: none;
  box-shadow: none;
}

#workspaces button.active {
  border: 1px white solid;
}

#custom-lock,
#custom-logout,
#custom-reboot,
#custom-poweroff {
  padding: 0 8px;
}

.modules-left > widget > * {
  margin-left: 3px;
}

.modules-right > widget > * {
  margin-right: 3px;
}

.module {
  padding: 0 5px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px rgba(0, 0, 0, 0.2) solid;
  /*border: 1px red solid;*/
  color: white;
  border-radius: 5px;
}

.module * {
  padding: 0;
  margin: 0;
}

@keyframes blink {
    to {
        background-color: rgba(0, 0, 0, 0.3);
    }
}

#battery.critical:not(.charging) {
    background: rgba(220, 40, 40, 0.3);
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

